.logo{
  width:25px;
  height:25px;
  margin-inline:25px;
  align-self: center;
}
.burger_button svg{width:20px ;height:20px;}
@media only screen and (max-width:991px) {
  .desktop{display:none !important}
}

@media only screen and (min-width:992px) {
  .mobile{display:none !important}
}

.progressBar{
  --chakra-transition-property-common: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform,width;
}
.progressBar div{
  transition-duration: 1.5s;
}

@keyframes myAnim {
  0% {width:0%}
  100% {width:96.5%}
}

 /* CSS added to change Swiper */
.swiper {
  width: 100%;
  height: 100%;
  padding-inline:40px
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-button-prev, .swiper-button-next {
  color: #D53F8C;
}
.swiper-pagination-bullet-active {
  background: #D53F8C;
}
.swiper-wrapper {
  padding-bottom: 40px;
  padding-top: 10px;
}
.chakra-ui-dark .swiper-pagination-bullet:not(.swiper-pagination-bullet-active){background:white !important}

.navbar{position: fixed !important; width: 100%;z-index: 99;background-color: var(--chakra-colors-white);}
.chakra-ui-dark .navbar{background-color: var(--chakra-colors-gray-700);}
@media only screen and (min-width:992px) {
.css-r6z5ec{position: fixed !important;transform: translate(0px, 65px) !important;}}

/* Stepper fixes for mobile*/
@media only screen and (max-width:992px) {
.chakra-step__separator,.chakra-step__indicator,.chakra-step__title{display:none !important}
.chakra-tabs__tab{padding:0 !important}
.chakra-tabs__tab-panels {border: 1px solid var(--chakra-colors-gray-200) !important}
.chakra-ui-dark  .chakra-tabs__tab-panels {border: 1px solid var(--chakra-colors-whiteAlpha-300) !important}
}
